# Configurações do Supabase
NEXT_PUBLIC_SUPABASE_URL=https://sua-url-supabase.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua-chave-publica-anonima-aqui

# Nome do bucket de armazenamento
BUCKET_NAME=nomebucket
